body {
    background-color: #FFEECB;
    margin: 0;
}
li {
    list-style: none;

}
.todo {
    border: 1px solid #7c7a7a;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 100px auto;
}

.todo .day {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo .day h2 {
    margin-top: 30px;
    margin-left: 20px;
}

.todo .todo_form input {
    border: none;
    outline: none;
    background-color: #FFEECB;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 90%;
}
.todo .todo_list {
    padding-left: 0px;
    margin: 10px 15px;
}

.todo .todo_list li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
