@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d5ccde;
    margin: 0;
    font-family: 'KyoboHandwriting2020A';
}
li {
    list-style: none;

}
.todo {
    border: 1px solid #7c7a7a;
    border-radius: 20px;
    background-color: #FFEECB;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    margin: 100px auto;
    box-shadow: 5px 5px 5px 5px gray;
    
}

.todo .day {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo .day h2 {
    margin-top: 30px;
    margin-left: 20px;
}

.todo .day span {
    margin-top: 20px;
    margin-left: 20px;
}

.todo .todo_form input {
    border: none;
    outline: none;
    background-color: #FFEECB;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 90%;
    font-family: 'KyoboHandwriting2020A';
    
}
.todo .todo_list {
    padding-left: 0px;
    margin: 10px 15px;
}

.todo .todo_list li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
