@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'KCC-Ganpan';
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

html {
  background: linear-gradient(180deg, #fbc2ebcc 0%, #a6c1ee99 100%);
  background-repeat: no-repeat;
  height: 100%;
}


body {
  width: 600px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  background: #fff;
  border-radius: 25px;
}

/********** HEADER **********/
.header {
  border-bottom: 3px solid #AD9FF5;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #AD9FF5;
}

.header h1 {
  font-size: 50px;
}

.date-time {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 24px;
  margin: 15px 0 5px 0;
}

.date-time .date {
  display: flex;
  align-items: center;
}

.date-time .date .day {
  margin-left: 5px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-form .todo-input {
  visibility: hidden;
  width: 0px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 5px;
  color: #AD9FF5;
  transition: all ease 1s 0s;
}

.todo-input.active {
  visibility: visible;
  width: 200px;
}

.todo-form .todo-button {
  border: none;
  background: none;
  color: #AD9FF5;
  font-size: 40px;
  cursor: pointer;
}

/********** SECTION **********/
.section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
}
.todo-list {
  width: 80%;
  padding: 0;
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar { 
  width: 20px;
}
.todo-list::-webkit-scrollbar-thumb {
  background: #b4abe3c4;
  border-radius: 25px;
}
.todo-list::-webkit-scrollbar-thumb:hover {
  background: #b4abe3;
}

.todo-list .todo-item {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: #E6EDF8;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #6D7CB2;
  color: #6D7CB2;
  border-radius: 15px;
}

.todo-list .todo-item input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  color:#6D7CB2;
}

.todo-list .todo-item div button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 3px;
  color: #6D7CB2;
  padding: 0;
  box-sizing: content-box;
}
.todo-list .todo-item div button i {
  padding: 2px;
}

.todo-list .todo-item:hover {
  cursor: pointer;
  width: 75%;
}

.todo-list .todo-item.checked {
  display: flex;
  justify-content: space-between;
  background-color: #dee2e7;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #6D7CB2;
  color: #838db2;
  border-radius: 15px;
  width: 60%;
  text-decoration: line-through;
}

/********** Mobile **********/
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 85%;
    margin-top: 30px;
    background: none;
  }

/********** HEADER **********/
  .header {
    color: #FFFFFF;
    border-bottom: 10px solid #c0b5fa47;
    margin-bottom: 30px;
  }
  .header h1 { font-size: 40px; }
  .date-time {
    font-size: 20px;
    margin: 40px 0;
  }
  .todo-form .todo-input {
    background: none;
  }
  .todo-input.active {
    width: 150px;
  }

  /********** SECTION **********/
  .todo-list .todo-item {
    width: 220px;
    font-size: 12px;
  }
  .todo-list .todo-item.checked {
    width: 200px;
  }
  .todo-list .todo-item input {
    width: 150px;
    border: none;
    border-bottom: 1px solid black;
  }
}
