@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'KCC-Ganpan';
  outline: none;
}

html {
  height: 100%;
  background: linear-gradient(180deg, #fbc2ebcc 0%, #a6c1ee99 100%);
  background-repeat: no-repeat;
}

body {
  width: 600px;
  height: 70%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 25px;
}

.header {
  border-bottom: 3px solid #AD9FF5;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #AD9FF5;
}

.header h1 {
  font-size: 45px;
}

.header .date-time {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 22px;
}

.date {
  display: flex;
}

.date .day {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-left: 5px;
}

.todo-form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-form .todo-input {
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 10px;
}

.todo-form .todo-button {
  border: none;
  background: #fff;
  color: #AD9FF5;
}

.todo-form .todo-button i {
  font-size: 40px;
}


.todo-form .todo-button:hover {
  cursor: pointer;
  color: #6D7CB2;
}